@model MVCLibrary.DTO.CityDTO

<h1>جزییات</h1>

<div>
    <h4>جزییات شهر</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">برگشت</a>
</div>
